body {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.header {
	background-color: #3F51B5;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 6vh;
    text-align: center;
    vertical-align: middle;
    line-height: 6vh;
}

.header button {
	color: white;
    position: relative;
    padding: 0;
    margin: 0;
    float: left;
    height: 6vh;
}

.header i {
    font-size: 6vh;
    padding: 0;
    margin: 0 0 0 -10px;}

.header h3 {
    display: inline;
    color: white;
    padding: 0;
    margin: 0 0 0 -30px;
    font-size: 4vh;
    vertical-align: middle;
    line-height: 6vh;
}

#schedule {
    margin-top: 6vh;
    z-index: 0;
}

#settings {
	display: none;
    position: absolute;
    top: 50px;
    right: 40px;
    bottom: 40px;
    left: 40px;
    z-index: 10;
    background-color: white;
}

#settingsBackButton {
	color: black;
    position: absolute;
    left: 0;
    top: 0;
}

#settings i {
	font-size: 24px;
}

.row * {
    display: inline;
    margin-left: 10px;
}

.row h4 {
    position: relative;
    top: 0px;
    left: 30px;
    font-size: 3vh;
}

.buttons {
    margin-top: 26%;
    margin-left: 2%;
}

.buttons * {
	margin-right: 10px;
}

